<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        var blogs = [];
        var sortOrder;
        var baseUrl = "http://localhost:4000/blogs/all"
        $("#getBlogs").click(function () {
            $('#blogList').empty()
            sortOrder = $("#sortOrderSelect").val()
            var url = baseUrl
            if (sortOrder === "all"){

            }else if (sortOrder === 'asc'){
                url = baseUrl + "?sort=asc"
            }else if (sortOrder === 'desc'){
                url = baseUrl + "?sort=desc"
            }
          $.get(url, function (blogs) {
            blogs.forEach((blog) => {
                $("#blogList").append("<li>" + "<p>" + blog.createdAt + "</p>" + "<p>" + blog.title + "</p>" + "<p>" + blog.author + "</p>" + "<p>" + blog.text + "</p>" + "</li>");
            });
          });
        });
      });

    </script>
  </head>
  <body>
    <h1>Display Blogs</h1>
    <button id="getBlogs">Get Blogs</button>
    <select id='sortOrderSelect'>
        <option value='all'>all</option>
        <option value='asc' selected>asc</option>
        <option value='desc'>desc</option>
    </select>
    <a href="http://localhost:4000/blogs/all?sort=asc" >asc</a>
    <a href="http://localhost:4000/blogs/all?sort=desc">desc</a>
    <ul id="blogList"></ul>
  </body>
</html>